.cta {
  width: 100%;
  align-items: center;
  color: #fff;
}

.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  /* width: 90%; */
  margin: 0 auto;
  /* height: 400px; */
  background-color: #2C273F;
  background-image: url("../../assets/images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right; 
  background-size: contain;
  padding: 8rem 0;
}


.cta-content h4 {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.56px;
  padding: 0 2.4rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

.cta-content a {
  text-transform: uppercase;
  border: 2px solid #fff; 
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.cta-content a:hover {
  background-color: #fff; 
  color: #2C2640;
}




@media screen and (min-width: 1440px) {

.cta-content {
  align-items: center;
  background-image: url("../../assets/images/bg-pattern-how-we-work-desktop.svg");
  background-position: right center;
  flex-direction: row;
  justify-content: space-between;
  padding: 7rem;
}

.cta-content h4 {
  margin-bottom: 0;
  font-size: 6rem;
  padding: 0;
  text-align: left;
}

.cta-content a {
  display: inline-block;
}
.cta {
  margin-bottom: 15rem;
}

}