.cta {
  width: 100%;
  align-items: center;
  color: #fff;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  width: 90%;
  margin: 0 auto;
  height: 400px;
  background-color: #2C273F;
  background-image: url("../../assets/images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right; 
  background-size: contain;
}

.cta-content {
  width: 50%;
}

.cta-content h1 {
  font-size: 2rem;
}

.cta-content a {
  text-transform: uppercase;
  border: 2px solid #fff; 
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.cta-content a:hover {
  background-color: #fff; 
  color: #2C2640;
}
