.features {
  width: 100%;
  padding: 100px 0;
  
}

.features-container {
  width: 80%;
  margin: 0 auto;
}

.features-content {
  text-align: center;
}

.features-content h1 {
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.features-content hr {
  width: 100px;
  border: 1px solid;
  color: grey;
}

.card-deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 75%;
  margin-bottom: 40px;
}

/* bg svgs */

.bg-intro-right {
  position: absolute;
  top: 1000px;
  right: 0px;
}

section.different .card-deck img {
  max-width: 86px;
}

section.features hr {
  margin: 0 auto;
  margin-bottom:4rem;
}
section.features .card-deck {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
section.features .card h4 {
  font-size: 2.8rem;
  letter-spacing: -0.39px;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}
section.features .card p {
  font-size: 1.6rem;
  line-height: 1.625;
}



@media screen and (min-width: 960px) {

  
section.features .card-deck {
    flex-direction: row;
    justify-content: space-between;
  }

  section.features .card-deck .card {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1440px) {

section.different {
  margin-top: 30.5rem;
  margin-bottom: 15.8rem;
}
section.different hr {
  margin: unset;
  margin-bottom: 6.3rem;
}
section.different .card-deck {
  flex-direction: row;
}
section.features h3 {
  font-size: 7.2rem;
}
section.features .card-deck {
  margin-top: 9.6rem;
}

}