.features {
  width: 100%;
  padding: 100px 0;
  
}

.features-container {
  width: 80%;
  margin: 0 auto;
}

.features-content {
  text-align: center;
}

.features-content h1 {
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.card-deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 75%;
  margin-bottom: 40px;
}

/* bg svgs */

.bg-intro-right {
  position: absolute;
  top: 1000px;
  right: 0px;
}

.features .card-deck img {
  max-width: 86px;
}

.features h3 {
  font-size: 5rem;
  color: var(--very-deep-purple);
}

.features h4 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.features .hr-dark {
  margin: 0 auto;
  margin-bottom: 4rem;
}

.features .card-deck {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

section.features .card p {
  font-size: rem;
  line-height: 1.625;
  color: var(--gray-purple);
}



@media screen and (min-width: 960px) {

.features .card-deck {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

.features .card-deck .card {
    padding: 0 2rem;
  }


.features-content {
  text-align: start;
}

}

@media screen and (min-width: 1440px) {

.features {
  margin: 20rem 0;
  
}

section.features .card-deck {
  flex-direction: row;
}
section.features h3 {
  font-size: 7.2rem;
}

section.features .card-deck {
  margin-top: 9.6rem;
}


}