.showcase {
  width: 100%;
  color: #FFFFFD;
  background-color: var(--deep-purple);
}

/* intro images  */
.showcase-hero-img-m {
  display: flex; 
}

.showcase-hero-img-m img {
width: 100%;
}

.showcase-hero-img-d {
  display: none;
}

.showcase-bg-d {
  display: none; 
}

.showcase hr {
  display: none;
}




.showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #2C2640; */
}

.showcase-img {
  width: 100%;
}

.showcase-img img {
  /* img itself needs to be at width 100%, not its parent div */
  width: 100%;
}


.showcase-content {
  /* background styling */
  background-image: url('../../assets/images/bg-pattern-intro-left-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  padding: 9.5rem 0;
}

.showcase-content h1 {
  font-size: 4.5rem;
  line-height: 1;
}

.showcase-content p {
  font-weight: 400; 
  line-height: 1.5;
  margin-top: 1.4rem;
  margin-bottom: 3.5rem;
}

.showcase-content a {
  text-transform: uppercase;
  border: 2px solid #fff; 
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

section.showcase a.btn {
  padding-left: 2.85rem;
  padding-right: 2.85rem;
  display: inline-block;
}


.showcase-contenty a:hover {
  background-color: #fff; 
  color: #2C2640;
}


#side-pattern-mobile {
  display: flex;
  position: absolute;
  right: 0;
  transform: translateY(-40%);
}
#side-pattern-desktop {
  display: none;
}



/* tablet */
@media screen and (min-width: 720px) {


  section.showcase {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .showcase-content {
    text-align: left;
    max-width: 50%;
  }

}

@media screen and (min-width: 960px) {
  .showcase-hero-img-m {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 10rem;
  }
  
  .showcase-content {
    max-width: 60%;
  }
  
  .showcase-content .container {
  display: flex;
  justify-content: space-between;
}

  /* .showcase-hero-img-d img {
    transform: translateY(-80px);
  } */

}

@media screen and (min-width: 1440px) {

  section.showcase {
    display: block; 
  }

  .showcase-content {
    display: flex;
    background-image: none;
    padding-top: 10.5rem;
  }

  .showcase-bg-d {
    display: flex;
    position: absolute;
    right: 0;
    overflow-y: hidden;
    z-index: 1;
  }

  .showcase-bg-d img {
    transform: translateY(-80px);
  }

  .showcase-content {
    text-align: left;
    max-width: 100%;
  }

  .showcase-hero-img-m {
    display: none;
  }

  .showcase-hero-img-d {
    display: flex;
  
  }

  /* .showcase-hero-img-d img {
    transform: translateY(-80px);
  } */
  
  .showcase {
    max-height: 600px;
  }
  
  .showcase h1 {
    font-size: 7.2rem;
    line-height: 0.88;
    letter-spacing: -1px;
  }
  
  .showcase h2 {
    margin-bottom: 2.4rem;
  }
  .showcase-hero-img-d {
    display: flex;
  }

  section.showcase .container {
    display: flex;
    justify-content: space-between;
  }
  
}


